<div class="egreso">
  <h2 class="egreso-titulo">Egresos</h2>
  <div *ngFor="let egreso of egresos" class="elemento limpiarestilo">
    <div class="elemento-descripcion">{{egreso.descripcion}}</div>
    <div class="right">
      <div class="elemento_valor">{{egreso.valor|currency:'PEN':'S/':'1.2-2'}}</div>
      <div class="elemento-porcentaje">{{calcularPorcentaje(egreso)|percent}}</div>
      <div class="elemento_eliminar">
        <button class="elemento_eliminar--btn" (click)="eliminarEgresos(egreso)">x</button>
      </div>
    </div>
  </div>

</div>
