<div class="cabecero">
  <!-- esto es un pipe al usar | sirve para indicar que se usara una pipe
    en este caso la de currency, se agrega el tipo de currency en este caso 
    soles despues el simbolo
    y al indicar 1.2-2 le indicmaos que minimo puede tener 
    2 decimales y maximo puede tener 2 decimales-->
  <div class="prespuesto_ingreso">
    <p>ingresos</p>
    <div class="presupuesto_ingreso--valor">
      {{ ingresoTotal | currency : "PEN" : "S/" : "1.2-2" }}
    </div>
  </div>

  <div class="presupuesto_valor">
    <h2>presupuesto total</h2>
    <p>{{ presupuestoTotal | currency : "PEN" : "S/" : "1.2-2" }}</p>
  </div>

  <div class="presupuesto_egreso">
    <p>egresos</p>
    <div class="presupuesto_egreso--valor">
      {{ egresoTotal | currency : "PEN" : "S/" : "1.2-2" }}
    </div>
    <div class="presupuesto_egreso--porcentaje">
      {{ porcentajeTotal | percent }}
    </div>
  </div>
</div>
